.card {
  width: 100%;
  overflow: hidden;

  max-width: 700px;
}

.header {
  display: flex;
  align-items: last baseline;
  gap: 12px;
  padding: 10px;
  background-color: var(--card-bg-secodary);
  border-radius: var(--card-radius) var(--card-radius) var(--control-radius)
    var(--control-radius);

  & th {
    font-weight: 400;
  }

  .weekday {
    font-size: var(--subtitle);
  }

  .date {
    font-size: var(--body);
    color: var(--text-secondary);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
