.card {
  width: 100%;
  overflow: hidden;

  max-width: 700px;
}

.header {
  display: flex;
  align-items: last baseline;
  gap: 12px;
  padding: 10px;
  background-color: #2c2c2e;
  border-radius: var(--card-border-radius) var(--card-border-radius)
    var(--control-border-radius) var(--control-border-radius);

  & th {
    font-weight: 400;
  }

  .weekday {
    font-size: var(--subtitle-font);
  }

  .date {
    font-size: var(--body-font);
    color: var(--text-color-secondary);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
