.spinner {
  animation: spin 0.8s linear infinite;
  transform-origin: center;
  flex-shrink: 0;
  opacity: 0;
  scale: 0;
  transition:
    opacity 0.02s ease-in,
    scale 0.02s ease-in;

  & path {
    fill: var(--text-color-secondary) !important;
  }

  &.visible {
    opacity: 1;
    scale: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
