.cardContainer {
  width: 100%;
  overflow: hidden;

  max-width: 750px;

  .title {
    display: flex;
    align-items: last baseline;
    gap: 12px;
    padding: 12px;
    background-color: var(--card-bg-color);
    border-radius: var(--card-border-radius) var(--card-border-radius)
      var(--control-border-radius) var(--control-border-radius);

    & th {
      font-weight: 400;
    }

    .name {
      font-size: var(--subtitle-font);
    }

    .date {
      font-size: var(--body-font);
      color: var(--text-color-secondary);
    }
  }

  .lessons {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
