.lessonContainer {
  display: flex;
  justify-content: space-between;
  gap: var(--beetwen-control_header-spacing);
  align-items: center;

  .whoWhere,
  .times {
    width: max-content;
    font-size: var(--caption-font);
  }

  .times {
    color: var(--text-color-tertiary);

    &.now {
      color: var(--text-color-primary);
      font-weight: 500;
    }
  }

  .whoWhere {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;

    & a {
      text-decoration: none;
      color: var(--text-color-tertiary);

      &:hover {
        color: var(--text-color-primary);
      }

      &:visited {
        text-decoration: none;
      }
    }
  }

  .infoContainer {
    width: 100%;
    padding: var(--compact-spacing) var(--beetwen-control_header-spacing);

    &.lection {
      background-color: var(--system-yellow);
      border-radius: var(--control-border-radius);
    }

    .discipline {
      font-size: var(--caption-font);
      font-weight: 500;
    }
    .teachers {
      font-size: var(--caption-font);
      color: var(--text-color-secondary);
    }
  }
}
