.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--control-bg-color);
  border: 1px solid var(--control-stroke-color);
  padding: var(--card-spacing);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 400px;
  width: calc(100% - 32px);
  max-width: 650px;
  border-radius: 36px;
  backdrop-filter: blur(15px);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &.focus {
    background-color: var(--active-control-bg-color);
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--beetwen-controls-spacing);

  .icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;

    & path {
      fill: var(--text-color-secondary) !important;
    }
  }

  .input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: var(--body-font);
    color: var(--text-color-primary);
    outline: none;

    &::placeholder {
      color: var(--text-color-tertiary);
    }
  }
}

.suggestionList {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  margin-bottom: 8px;

  & li {
    list-style: none;
    font-size: var(--body-font);
    color: var(--text-color-secondary);
    padding: 8px 12px;
    border-radius: 16px;

    &:hover {
      color: var(--text-color-primary);
      background-color: var(--control-bg-color-secondary);
    }

    &:active {
      background-color: var(--control-bg-color-tertiary);
    }
  }
}
