.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.headerLink {
  text-decoration: none;

  &:hover {
    color: var(--system-green);

    & span {
      color: var(--text-color-tertiary);
      font-size: var(--body-font);
    }
  }

  &:visited {
    text-decoration: none;
  }

  & span {
    color: var(--system-green);
  }
}

.main {
  flex: 1;
  overflow-y: auto;
  padding-top: 80px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  gap: var(--beetwen-sections-spacing);
}

.emptyMessage {
  font-size: var(--subtitle-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
