:root {
  /* Font */
  --subtitle-font: 24px;
  --body-font: 18px;
  --caption-font: 14px;

  /* Border-radius */
  --card-border-radius: 15px;
  --control-border-radius: 12px;
  --circular-border-radius: 9999px;

  /* PADDING */
  --compact-spacing: 4px;
  --beetwen-controls-spacing: 8px;
  --beetwen-control_header-spacing: 12px;
  --card-spacing: 16px;
  --beetwen-sections-spacing: 24px;

  /* Other */
  --filter: saturate(180%) blur(20px);
}

:root[data-theme="light"] {
  /* Text */
  --text-color-primary: rgb(29, 29, 31);
  --text-color-secondary: rgb(92, 92, 92);
  --text-color-tertiary: rgb(134, 134, 134);
  --text-color-inverted: rgb(245, 245, 247);

  /* System */
  --system-background-color: rgb(255, 255, 255);
  --system-blur-color: rgba(255, 255, 255, 0.7);

  --system-green: rgb(15, 123, 15);
  --system-yellow: rgb(255, 244, 206);

  /* Card */
  --card-background-color: rgb(245, 245, 247);
  --card-stroke-color: rgb(229, 229, 229);

  /* Control */
  --control-stroke-color: rgb(232, 232, 232);
  --control-background-color-primary: rgba(250, 250, 250, 0.7);
  --control-background-color-secondary: rgba(251, 251, 253, 0.7);
  --control-background-color-tertiary: rgba(210, 210, 215, 0.7);

  /* Other */

  --divider-color: rgb(229, 229, 229);
}

:root[data-theme="dark"] {
  /* Text */
  --text-color-primary: rgb(245, 245, 247);
  --text-color-secondary: rgb(204, 204, 204);
  --text-color-tertiary: rgb(150, 150, 150);
  --text-color-inverted: rgb(29, 29, 31);

  /* System */
  --system-background-color: rgb(0, 0, 0);
  --system-blur-color: rgba(29, 29, 31, 0.7);

  --system-green: rgb(129, 207, 140);
  --system-yellow: rgb(67, 53, 25);
  /* Card */

  --card-background-color: rgb(29, 29, 31);
  --card-stroke-color: rgb(29, 29, 29);

  /* Control */

  --control-stroke-color: rgb(63, 63, 65);
  --control-background-color-primary: rgba(26, 26, 26, 0.7);
  --control-background-color-secondary: rgba(56, 56, 59, 0.7);
  --control-background-color-tertiary: rgba(39, 39, 39, 0.7);

  /* Other */

  --divider-color: rgb(50, 50, 50);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color-primary);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--control-stroke-color);
    border-radius: var(--circular-border-radius);
  }

  transition:
    background-color 0.167s ease-in,
    color 0.167s ease-in;
}

html,
body {
  height: 100vh;
  background-color: var(--system-background-color);
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  :root {
    --subtitle-font: 20px;
    --body-font: 16px;
    --caption-font: 12px;

    --compact-spacing: 2px;
    --beetwen-controls-spacing: 6px;
    --beetwen-control_header-spacing: 10px;
    --card-spacing: 12px;
    --beetwen-sections-spacing: 20px;

    --control-border-radius: 8px;
  }
}
